<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Alzheimer's Foundation{% endblock %}</title>
</head>
<body>
     <!-- Header Section -->
     <header class="main-header">
        <div class="header-top">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo">
            <h1>NeuroCheck</h1>
        </div>
        <nav class="navbar">
            <ul>
                <li><a href="{{ url_for('welcome') }}">Home</a></li>
                <li><a href="{{ url_for('about_us') }}">About Us</a></li>
                <li><a href="{{ url_for('privacy_policy') }}">Privacy Policy</a></li>
                <li><a href="{{ url_for('research_behind_test') }}">Research Behind ALz Test</a></li>
            </ul>
        </nav>
    </header>
    
    
    
    
    <!-- Content Block -->
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Alzheimer's Test App | <a href="{{ url_for('privacy_policy') }}">Privacy Policy</a> | <a href="{{ url_for('terms_of_service') }}">Terms of Service</a></p>
    </footer>
</body>
</html>
