{% extends "base.html" %}

{% block content %}
<section class="section-content">
    <div class="container">
        <h1>Privacy Policy</h1>
        <p>At NeuroCheck, we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your personal information while providing our services.</p>
        <ul>
            <li><strong>Data Collection:</strong> We only collect the information necessary to provide our services effectively.</li>
            <li><strong>Data Usage:</strong> Your data is used solely for the purpose of enhancing your experience with NeuroCheck.</li>
            <li><strong>Data Security:</strong> We use industry-standard security measures to protect your personal information.</li>
            <li><strong>Contact Us:</strong> For any concerns regarding privacy, please reach out to us at privacy@neurocheck.com.</li>
        </ul>
    </div>
</section>
{% endblock %}
